<div class="about-me-section">
    <div class="about-me-info">
        <div class="about-me-info-title">
            <span>About me</span>
        </div>
        <div class="about-me-info-content">
            <span>
                ¡Hola! Soy Juan Florez, un apasionado Desarrollador Web Full Stack
                Mi enfoque se centra en desarrollar soluciones web eficientes y estéticas, utilizando tecnologías como 
                Angular, NestJs, TypeScript, JavaScript, SCSS, HTML, CSS, entre otras herramientas. Mi habilidad para equilibrar funcionalidad 
                y diseño se refleja en proyectos que abarcan desde pequeñas empresas hasta empresas internacionales.
                Me destaco en entornos colaborativos, creyendo en la importancia de la comunicación efectiva para el 
                éxito del equipo. Mi compromiso no solo se limita al código funcional, sino también a la 
                mejora continua y al aprendizaje de nuevas tecnologías.
            </span>
        </div>
    </div>
</div>