@import '../../../scss/_variables.scss';

.about-me-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 20px 0;

    .about-me-info {
        position: absolute;
        background-color: #280C41;
        border-radius: 20px;
        width: 60%;
        min-height: 40vh;
        max-height: 80vh;
        box-shadow: 0px 20px 29px -14px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 20px 29px -14px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 20px 29px -14px rgba(0,0,0,0.75);
    }

    .about-me-info {

        .about-me-info-title {
            margin: 30px;

            span {
                font-size: 30px;
                font-weight: bold;
                color: $color-text-yellow;
            }
        }
    
        .about-me-info-content {
            margin: 35px 30px;
            text-align: justify;
        }
    }
  
}