<div class="home-page">
    <div class="about-me-text">
        <div class="about-me-section">
            <div class="presentation-text"><span>Hi! I'm Juan Florez</span></div>
            <div class="role-text"><span>Full Stack Web Developer</span></div>
            <div class="about-me-home">
                <p>I am Juan Florez from Colombia,</p>
                <p>a Full Stack Web Developer focused mainly on Frontend,</p>
                <p>I am motivated to continue perfecting my skills and continue growing professionally.</p>
            </div>
            <div class="hire-me-info">
                <button class="btn btn__btn-hire-me">Hire Me</button>
                <button class="btn btn__btn-cv" (click)="downloadCv()">Download CV</button>
            </div>
            <div class="contact-me-icons">     
                <button class="btn-contact-me">
                    <a class="fa-brands fa-linkedin contact-me-icon" href="https://www.linkedin.com/in/juanflorez1326" target="_blank"></a>
                </button>
                <button class="btn-contact-me">
                    <a class="fa-regular fa-envelope contact-me-icon" href="mailto:juanks339@gmail.com" target="_blank"></a>
                </button>
                <button class="btn-contact-me">
                    <a class="fa-brands fa-whatsapp contact-me-icon" href="https://walink.co/3b602b" target="_blank"></a>
                </button>
                <button class="btn-contact-me">
                    <a class="fa-brands fa-github contact-me-icon" href="https://github.com/JuanFlorez1326" target="_blank"></a>
                </button>
            </div>
        </div>
    </div>
    <div class="about-me-section-image">
        <div class="about-me-image">
            <img class="image-profile" src="../../../assets/img/profile.png" alt="Profile Developer">
        </div>
    </div>
</div>