<div class="portfolio-page">
    <div class="navbar">
        <div class="navbar-logo">
            <a class="navbar-logo-option" routerLink="/home">JuanFlorez.</a>
        </div>
        <div class="navbar-all-options">
            <a class="navbar-option" routerLink="/home" routerLinkActive="active">Home</a>
            <a class="navbar-option" routerLink="/about" routerLinkActive="active">About</a>
            <a class="navbar-option" routerLink="/works" routerLinkActive="active">Works</a>
            <a class="navbar-option" routerLink="/resume" routerLinkActive="active">Resume</a>
            <a class="navbar-option" routerLink="/contact" routerLinkActive="active">Contact</a>
        </div>
    </div>
</div>