<footer class="footer-options">
    <div>
        <div class="contact-me-icons">     
            <div class="contact-icon">
                <button class="btn-contact-me">
                    <a class="fa-brands fa-linkedin contact-me-icon" href="https://www.linkedin.com/in/juanflorez1326" target="_blank"></a>
                </button>
                <button class="btn-contact-me">
                    <a class="fa-regular fa-envelope contact-me-icon" href="mailto:juanks339@gmail.com" target="_blank"></a>
                </button>
                <button class="btn-contact-me">
                    <a class="fa-brands fa-whatsapp contact-me-icon" href="https://walink.co/3b602b" target="_blank"></a>
                </button>
                <button class="btn-contact-me">
                    <a class="fa-brands fa-github contact-me-icon" href="https://github.com/JuanFlorez1326" target="_blank"></a>
                </button>
            </div>
        </div>
        <div class="footer-all-options">
            <a class="footer-option" routerLink="/home" routerLinkActive="active">Home</a>
            <a class="footer-option" routerLink="/about" routerLinkActive="active">About</a>
            <a class="footer-option" routerLink="/works" routerLinkActive="active">Works</a>
            <a class="footer-option" routerLink="/resume" routerLinkActive="active">Resume</a>
            <a class="footer-option" routerLink="/contact" routerLinkActive="active">Contact</a>
        </div>
        <div class="content-rights">
            <span>Copyright &copy; {{ currentYear }}</span>
        </div>
    </div>
</footer>